* {
box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
font-family: 'Roboto', sans-serif,'Times New Roman', Times, Georgia, serif;
margin: 0;
background-color: black;
}
.container {
display: flex;
flex-wrap: wrap;
flex-direction: column;
margin: 2em;
align-items: stretch;
}
.container > .section {
font-size: 1.1em;
line-height: 1.35em;
flex: 0.4em;
margin-left: 0.5em;
border-radius: 0.7em;
background-image: linear-gradient(to bottom,#eaeaea, #fff);
margin-top: 2em;
padding: 3em;
margin-right: 5em;
}
:root {
counter-reset: section;
}
a::before {
counter-increment: section;
content: counter(section) ". ";
}
a {
text-decoration: none;
color: black;
text-align: left;
padding: 12px 14px;
}
a:hover {
color: darkred;
}
a:active {
color: red;
}
@media screen and (max-width: 1200px) {
.container {
margin: 1em;
}
.container > .section {
padding: 1em;
margin-right: 1em;
}
}
